.App {
  text-align: center;
}

.container {
  width: 3em;
  height: 3em;
  position: absolute;
  cursor: grab;
  background-image: url('./assets/spider.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.s1 {
  top: 2em;
  left: 0;
}
.s2 {
  top: 5em;
  left: 0.5em;
}
.s3 {
  top: 9em;
  left: 1.5em;
}
.s4 {
  top: 4.5em;
  left: 6em;
}
.s5 {
  top: 12em;
  left: 9em;
}
.s6 {
  top: 0;
  left: 9.5em;
}
.s7 {
  top: 8em;
  left: 11em;
}
.s8 {
  top: 3.5em;
  left: 18em;
}
.s9 {
  top: 10em;
  left: 24em;
}
.l1 {
  width: 100%;
  height: 100vh;
}
